In [5]:
import pip
import numpy as np
import pandas as pd
import sklearn
import tabulate
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

In [6]:
song_app = pd.read_csv("../../SongApp.csv",header=-1,)

In [51]:
song_app.head()

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
0,NaN,2001,49.94357,21.47114,73.07750,8.74861,-17.40628,-13.09905,-25.01202,-12.23257,...,13.01620,-54.40548,58.99367,15.37344,1.11144,-23.08793,68.40795,-1.82223,-27.46348,2.26327
1,0.0,2001,48.73215,18.42930,70.32679,12.94636,-10.32437,-24.83777,8.76630,-0.92019,...,5.66812,-19.68073,33.04964,42.87836,-9.90378,-32.22788,70.49388,12.04941,58.43453,26.92061
2,1.0,2001,50.95714,31.85602,55.81851,13.41693,-6.57898,-18.54940,-3.27872,-2.35035,...,3.03800,26.05866,-50.92779,10.93792,-0.07568,43.20130,-115.00698,-0.05859,39.67068,-0.66345
3,2.0,2001,48.24750,-1.89837,36.29772,2.58776,0.97170,-26.21683,5.05097,-10.34124,...,34.57337,-171.70734,-16.96705,-46.67617,-12.51516,82.58061,-72.08993,9.90558,199.62971,18.85382
4,3.0,2001,50.97020,42.20998,67.09964,8.46791,-15.85279,-16.81409,-12.48207,-9.37636,...,9.92661,-55.95724,64.92712,-17.72522,-1.49237,-7.50035,51.76631,7.88713,55.66926,28.74903

In [52]:
song_app.size

42661872

In [53]:
song_app.shape

(463716, 92)

In [7]:
# clean data
df_song = song_app.dropna()
df_song.__delitem__(0)

In [55]:
df_song.head()

,1,2,3,4,5,6,7,8,9,10,...,82,83,84,85,86,87,88,89,90,91
1,2001,48.73215,18.42930,70.32679,12.94636,-10.32437,-24.83777,8.76630,-0.92019,18.76548,...,5.66812,-19.68073,33.04964,42.87836,-9.90378,-32.22788,70.49388,12.04941,58.43453,26.92061
2,2001,50.95714,31.85602,55.81851,13.41693,-6.57898,-18.54940,-3.27872,-2.35035,16.07017,...,3.03800,26.05866,-50.92779,10.93792,-0.07568,43.20130,-115.00698,-0.05859,39.67068,-0.66345
3,2001,48.24750,-1.89837,36.29772,2.58776,0.97170,-26.21683,5.05097,-10.34124,3.55005,...,34.57337,-171.70734,-16.96705,-46.67617,-12.51516,82.58061,-72.08993,9.90558,199.62971,18.85382
4,2001,50.97020,42.20998,67.09964,8.46791,-15.85279,-16.81409,-12.48207,-9.37636,12.63699,...,9.92661,-55.95724,64.92712,-17.72522,-1.49237,-7.50035,51.76631,7.88713,55.66926,28.74903
5,2001,50.54767,0.31568,92.35066,22.38696,-25.51870,-19.04928,20.67345,-5.19943,3.63566,...,6.59753,-50.69577,26.02574,18.94430,-0.33730,6.09352,35.18381,5.00283,-11.02257,0.02263

In [11]:
df_song = df_song[df_song[1] <= 2009]
df_song = df_song[df_song[1] >= 1980]

In [12]:
labels_column = df_song.iloc[0:,0]
labels = df_song.values[0:,0]
labels

array([ 2001.,  2001.,  2001., ...,  2006.,  2007.,  2007.])

In [13]:
import operator
# count by label
from collections import Counter
c = Counter(labels)
d = dict(c)
sorted_labels_size = sorted(d.items(), key=operator.itemgetter(1), reverse=True)
sorted_labels_size[0:60]

[(2007.0, 35376),
 (2006.0, 33824),
 (2005.0, 31454),
 (2008.0, 31244),
 (2009.0, 27907),
 (2004.0, 26680),
 (2003.0, 24574),
 (2002.0, 21291),
 (2001.0, 19414),
 (2000.0, 17354),
 (1999.0, 16358),
 (1998.0, 14245),
 (1997.0, 13639),
 (1996.0, 12669),
 (1995.0, 11806),
 (1994.0, 10882),
 (1993.0, 9562),
 (1992.0, 8615),
 (1991.0, 7751),
 (1990.0, 6606),
 (1989.0, 5944),
 (1988.0, 5101),
 (1987.0, 4608),
 (1986.0, 3747),
 (1982.0, 3284),
 (1985.0, 3211),
 (1983.0, 3083),
 (1984.0, 3053),
 (1980.0, 2794),
 (1981.0, 2788)]

In [14]:
df_song.__delitem__(1)

In [15]:
df_song['labels'] = labels_column

In [16]:
num_columns = df_song.columns.shape[0]
columns = list(range(num_columns - 1))
columns_name = list(map(str,columns)) + ['labels']
df_song.columns = columns_name
df_song.head()

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,labels
1,48.73215,18.42930,70.32679,12.94636,-10.32437,-24.83777,8.76630,-0.92019,18.76548,4.59210,...,-19.68073,33.04964,42.87836,-9.90378,-32.22788,70.49388,12.04941,58.43453,26.92061,2001
2,50.95714,31.85602,55.81851,13.41693,-6.57898,-18.54940,-3.27872,-2.35035,16.07017,1.39518,...,26.05866,-50.92779,10.93792,-0.07568,43.20130,-115.00698,-0.05859,39.67068,-0.66345,2001
3,48.24750,-1.89837,36.29772,2.58776,0.97170,-26.21683,5.05097,-10.34124,3.55005,-6.36304,...,-171.70734,-16.96705,-46.67617,-12.51516,82.58061,-72.08993,9.90558,199.62971,18.85382,2001
4,50.97020,42.20998,67.09964,8.46791,-15.85279,-16.81409,-12.48207,-9.37636,12.63699,0.93609,...,-55.95724,64.92712,-17.72522,-1.49237,-7.50035,51.76631,7.88713,55.66926,28.74903,2001
5,50.54767,0.31568,92.35066,22.38696,-25.51870,-19.04928,20.67345,-5.19943,3.63566,-4.69088,...,-50.69577,26.02574,18.94430,-0.33730,6.09352,35.18381,5.00283,-11.02257,0.02263,2001

In [17]:
x_data = df_song
x_data.__delitem__('labels')

In [18]:
x_data.head()

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
1,48.73215,18.42930,70.32679,12.94636,-10.32437,-24.83777,8.76630,-0.92019,18.76548,4.59210,...,5.66812,-19.68073,33.04964,42.87836,-9.90378,-32.22788,70.49388,12.04941,58.43453,26.92061
2,50.95714,31.85602,55.81851,13.41693,-6.57898,-18.54940,-3.27872,-2.35035,16.07017,1.39518,...,3.03800,26.05866,-50.92779,10.93792,-0.07568,43.20130,-115.00698,-0.05859,39.67068,-0.66345
3,48.24750,-1.89837,36.29772,2.58776,0.97170,-26.21683,5.05097,-10.34124,3.55005,-6.36304,...,34.57337,-171.70734,-16.96705,-46.67617,-12.51516,82.58061,-72.08993,9.90558,199.62971,18.85382
4,50.97020,42.20998,67.09964,8.46791,-15.85279,-16.81409,-12.48207,-9.37636,12.63699,0.93609,...,9.92661,-55.95724,64.92712,-17.72522,-1.49237,-7.50035,51.76631,7.88713,55.66926,28.74903
5,50.54767,0.31568,92.35066,22.38696,-25.51870,-19.04928,20.67345,-5.19943,3.63566,-4.69088,...,6.59753,-50.69577,26.02574,18.94430,-0.33730,6.09352,35.18381,5.00283,-11.02257,0.02263

In [19]:
x_data.shape

(418864, 90)

In [20]:
# split into training and test data
X_train, X_test, y_train, y_test = train_test_split(x_data, labels, test_size=0.1, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(376977, 90)
(41887, 90)
(376977,)
(41887,)

In [21]:
clf = RandomForestRegressor(n_jobs=5, n_estimators=50)
model = clf.fit(X_train, y_train)

In [45]:
predicted = model.predict(X_test)

In [23]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import median_absolute_error

In [46]:
def log_errors(y_test, predicted):
    mae = mean_absolute_error(y_test, predicted)
    mse = mean_squared_error(y_test, predicted, multioutput='raw_values')
    r2 = r2_score(y_test, predicted)
    medae = median_absolute_error(y_test, predicted)
    print('mae ',mae)
    print('mse ',mse)
    print('r2 score ', r2)
    print('median_ae ',medae)

In [49]:
log_errors(y_test=y_test,predicted=predicted)

mae  4.50427674457
mse  [ 33.70723992]
r2 score  0.327403803361
median_ae  3.7

In [50]:
predicted

array([ 1996.12,  1996.12,  2000.84, ...,  2004.54,  2004.62,  2003.9 ])

In [51]:
predicted_round = [round(x) for x in predicted]

In [61]:
score = 0
for i in range(len(y_test)):
    if(y_test[i] in [predicted[i] -1, predicted[i] + 1]):
        score = score + 1
        print('original : ', y_test[i])
        print('predicted : ', predicted_round[i])
print('score ', score/len(y_test))

original :  2004.0
predicted :  2005.0
original :  1991.0
predicted :  1992.0
original :  2002.0
predicted :  2001.0
original :  2005.0
predicted :  2004.0
original :  2005.0
predicted :  2004.0
original :  2000.0
predicted :  2001.0
original :  1991.0
predicted :  1990.0
original :  1993.0
predicted :  1992.0
original :  2003.0
predicted :  2004.0
original :  2001.0
predicted :  2002.0
original :  2005.0
predicted :  2004.0
original :  2003.0
predicted :  2002.0
original :  1989.0
predicted :  1988.0
original :  2002.0
predicted :  2003.0
original :  2005.0
predicted :  2004.0
original :  1999.0
predicted :  1998.0
original :  1997.0
predicted :  1996.0
original :  2003.0
predicted :  2004.0
original :  2004.0
predicted :  2005.0
original :  2000.0
predicted :  1999.0
original :  2003.0
predicted :  2002.0
original :  1996.0
predicted :  1997.0
original :  1995.0
predicted :  1996.0
original :  2004.0
predicted :  2005.0
original :  2004.0
predicted :  2003.0
original :  1999.0
predicted :  2000.0
original :  1994.0
predicted :  1995.0
original :  2007.0
predicted :  2006.0
original :  2001.0
predicted :  2000.0
original :  1999.0
predicted :  1998.0
original :  1998.0
predicted :  1997.0
original :  2004.0
predicted :  2005.0
original :  2000.0
predicted :  1999.0
original :  2005.0
predicted :  2004.0
original :  1998.0
predicted :  1997.0
original :  1994.0
predicted :  1995.0
original :  2001.0
predicted :  2000.0
original :  1998.0
predicted :  1997.0
original :  1998.0
predicted :  1999.0
original :  2004.0
predicted :  2005.0
original :  2003.0
predicted :  2004.0
original :  2003.0
predicted :  2004.0
original :  2003.0
predicted :  2004.0
original :  2007.0
predicted :  2006.0
original :  1999.0
predicted :  1998.0
original :  1999.0
predicted :  2000.0
original :  2000.0
predicted :  1999.0
original :  2004.0
predicted :  2003.0
original :  2000.0
predicted :  1999.0
original :  1997.0
predicted :  1998.0
original :  1994.0
predicted :  1995.0
original :  2002.0
predicted :  2001.0
original :  2006.0
predicted :  2005.0
original :  1995.0
predicted :  1994.0
original :  2005.0
predicted :  2004.0
original :  2002.0
predicted :  2001.0
original :  1990.0
predicted :  1991.0
original :  2001.0
predicted :  2002.0
original :  2004.0
predicted :  2003.0
original :  2001.0
predicted :  2002.0
original :  1990.0
predicted :  1989.0
original :  2002.0
predicted :  2003.0
original :  2002.0
predicted :  2001.0
original :  1996.0
predicted :  1995.0
original :  2007.0
predicted :  2006.0
original :  2004.0
predicted :  2005.0
original :  1989.0
predicted :  1990.0
original :  1996.0
predicted :  1997.0
original :  2005.0
predicted :  2006.0
original :  1999.0
predicted :  2000.0
original :  2002.0
predicted :  2001.0
original :  2003.0
predicted :  2004.0
original :  2000.0
predicted :  1999.0
original :  2002.0
predicted :  2003.0
original :  1994.0
predicted :  1995.0
original :  2006.0
predicted :  2005.0
original :  2004.0
predicted :  2005.0
original :  2003.0
predicted :  2002.0
original :  2007.0
predicted :  2006.0
original :  2001.0
predicted :  2000.0
original :  2005.0
predicted :  2004.0
original :  2003.0
predicted :  2002.0
original :  2006.0
predicted :  2005.0
original :  2002.0
predicted :  2001.0
original :  2007.0
predicted :  2006.0
original :  1996.0
predicted :  1995.0
original :  2005.0
predicted :  2004.0
original :  1993.0
predicted :  1994.0
original :  1991.0
predicted :  1992.0
original :  2000.0
predicted :  2001.0
original :  2006.0
predicted :  2005.0
original :  2003.0
predicted :  2002.0
original :  1998.0
predicted :  1999.0
original :  2000.0
predicted :  2001.0
original :  1988.0
predicted :  1989.0
original :  1997.0
predicted :  1998.0
original :  2001.0
predicted :  2000.0
original :  1999.0
predicted :  2000.0
original :  2005.0
predicted :  2004.0
original :  2004.0
predicted :  2003.0
original :  2003.0
predicted :  2002.0
original :  2004.0
predicted :  2003.0
original :  2004.0
predicted :  2003.0
original :  1991.0
predicted :  1992.0
original :  2001.0
predicted :  2002.0
original :  2007.0
predicted :  2006.0
original :  2002.0
predicted :  2003.0
original :  2003.0
predicted :  2004.0
original :  2000.0
predicted :  2001.0
original :  2003.0
predicted :  2002.0
original :  2001.0
predicted :  2000.0
original :  2003.0
predicted :  2002.0
original :  2003.0
predicted :  2002.0
original :  1996.0
predicted :  1995.0
original :  2004.0
predicted :  2003.0
score  0.0027454818917563924